# Environment variables
.env

# Virtual environment
venv/
env2/
env/

# Django
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
migrations/__pycache__/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/